.formsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem;
    
}

.listContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
}