.header {
    background-color: #FFFF;
    padding: 20px;
    color: #000000;
    text-align: left;
    height: 5rem;
    width: 100%;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

    
}
.header h1 {
    margin: 0;
    font-size: 1.5rem;
    margin-left: 1rem;
    border-bottom: #0000 5px solid;
  
}